<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "3.0.0" >

    <!-- versionCode is optional and Android only -->
	<icon src="favicon.ico" />
    <name>Activity Counts Application</name>

    <description>
        An app that tracks exercise activity. 
    </description>

    <author href="http://www.nmm.ie" email="sean@nmm.ie">
        Sean Cahill
    </author>

	</widget>