
<div  class="pure-control-group pure-form pure-form-stacked" id="element">
		<h2>Profile</h2>
		<h3>Enter Your Weight</h3>
		
		<label for="stones">Stones</label>
		<input id="stones" ng-model="stones" type="number">
		<label for="pounds">Lbs</label>
		<input id="pounds" ng-model="pounds" type="number">
		<br/>
		<button class="pure-button pure-button-primary" ng-click="inPounds()" class="button">Save</button>
		<br/><br/>
		<label >Your Weight in Lbs:<span ng-show="lbsDisplay"> {{ lbs}}</span></label>
</div>