<div  id='element' ng-show="showFields" class="pure-control-group pure-form pure-form-stacked">
		<h4>Enter Your Activity Details</h4>
		<hr/>
		<label for="time">Duration</label>
		<input id="time" ng-model="duration" type="text" ng-disabled="allowInput">
		<label for="level" >Level</label>
		<select id="level" ng-model="levelSelected"
				ng-options="level as level.label for level in levels"
				ng-disabled="allowInput">
		</select>
		<label for="activity">Activity</label>
		<select id="activity" ng-model="activitySelected"
                ng-options="opt as opt.label for opt in options" ng-disabled="allowInput">
        </select>
            The value selected is {{ activitySelected.value }}.
		<button ng-disabled="allowInput" class="pure-button pure-button-primary" ng-click="calcCalories()" class="button">Calculate</button>
		<br/>
		<label>Calories Burned: <span ng-show="caloriesDisplay">{{ calories.toFixed(0)}}</span></label>
</div>
<div ng-show="error">
	{{ errorMessage }}
</div>
	