
<div  id='element' class="pure-control-group pure-form pure-form-aligned center-block" ng-show="tableShow">

		<h2>Weekly Activity Report</h2>
		<hr/>
		<p>{{message}}</p>
		<table ng-table class="pure-table">
			<thead>
				<tr >
				<th ng-repeat="head in headings"> {{ head }} </th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="act in activity">
					<td>{{act.activity.date}}</td>
					<td>{{act.activity.exercise}}</td>
					<td>{{act.activity.duration}}</td> 
					<td>{{act.activity.calories.toFixed(0)}}</td>
				</tr>
			</tbody>
		</table>
		<p style="padding-top: 1.5em; padding-right: 3px; font-size: 1.2em; font-weight: bold; float: right" class="navbar-right">Total Calories: {{ total.toFixed(0) }}</p>
</div>